# Игнорируем папки, создаваемые Unity в процессе работы
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/UserSettings/

# Файлы, создаваемые IDE (Rider, Visual Studio, VS Code)
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Временные файлы различных систем
*.DS_Store
*~
*.fseventsd
*.AppleDouble
*.LSOverride

# Исключаем папки плагинов, если они не должны быть в репозитории (обычно плагины хранят в Assets)
# Но если плагины управляются через Package Manager, они и так в Library
# Раскомментируйте следующую строку, если не хотите хранить сторонние ассеты в репозитории
# /Assets/AssetStoreTools/

# Файлы метаданных Unity (нужны, но их не всегда нужно игнорировать, оставляем как есть)
# *.meta обычно нужно коммитить, поэтому не добавляем в игнор